{% extends './base.html' %}
{% load bootstrap4 %}

{% block account %}

<div class="col-sm-2">
    <div> <img src="{{person.photo.url}}" alt="Картинка" width="270" height="270"></div>
    <table class="table">
    <tbody>
      <tr>
        <td>Фамилия</td>
        <td>{{person.surname}}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{person.name}}</td>
      </tr>
      <tr>
        <td>Отчество</td>
        <td>{{person.patronymic}}</td>
      </tr>
      <tr>
        <td>Возраст</td>
        <td>{{age}}</td>
      </tr>
    </tbody>
  </table>



    <hr class="d-sm-none">
</div>
<div class="col-sm-10">
    {% block content %} {% endblock %}
</div>

{% endblock %}