{% extends './account.html' %}
{% load bootstrap4 %}


{% block title %} Статьи здоровья {% endblock %}



{% block content %}
    <div class="display-4 pb-5">Справочная информация</div>
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
              <a href="https://yandex.ru/turbo/s/giperton.com/norma-arterialnogo-davleniya-u-cheloveka.html"
                 class="list-group-item list-group-item-action" target="_blank">Артериальное давление</a>
              <a href="https://yandex.ru/health/turbo/articles?id=3811" class="list-group-item list-group-item-action"
                 target="_blank">Общий анализ крови</a>
              <a href="https://yandex.ru/health/turbo/articles?id=3811" class="list-group-item list-group-item-action"
                 target="_blank">Печеночные пробы</a>
            </div>
        </div>
    </div>



{% endblock %}