{% extends './account.html' %}
{% load bootstrap4 %}


{% block title %} Общий анализ крови {% endblock %}



{% block content %}
    <div class="display-4 pb-5">Общий анализ крови</div>
    <div class="row">
        <div class="col-sm-6">
            {% for b in bloods %}
                <p> <mark> {{b.date}}</mark> -
                   {% if b.problem %}
                        <span class="badge badge-pill badge-warning"> Выявлены проблемы </span>
                    {% else %}
                        <span class="badge badge-pill badge-success">Проблемы не выявлены</span>
                    {% endif %}
                </p>
                <table class="table table-dark table-hover">
                    <thead>
                      <tr>
                        <th>Показатель</th>
                        <th>Значение</th>
                      </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Эритроциты (× 10х12/л)</td>
                        {% if b.problem_RBC %}
                            <td class="text-danger">{{b.RBC}}</td>
                        {% else %}
                            <td>{{b.RBC}}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Средний объем эритроцитов (фл или мкм3)</td>
                        {% if b.problem_MCV %}
                            <td class="text-danger">{{b.MCV}}</td>
                        {% else %}
                            <td>{{b.MCV}}</td>
                        {% endif %}
                      </tr>

                    <tr>
                        <td>Средний уровень HGB в эритроците (пг)</td>
                        {% if b.problem_MCH %}
                            <td class="text-danger">{{b.MCH}}</td>
                        {% else %}
                            <td>{{b.MCH}}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Средняя концентрация эритроцитов в гемоглобине (%)</td>
                        {% if b.problem_MCHC %}
                            <td class="text-danger">{{b.MCHC}}</td>
                        {% else %}
                            <td>{{b.MCHC}}</td>
                        {% endif %}
                      </tr>
                    <tr>
                        <td>Анизоцитоз эритроцитов (%)</td>
                        {% if b.problem_RFV %}
                            <td class="text-danger">{{b.RFV}}</td>
                        {% else %}
                            <td>{{b.RFV}}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Гемоглобин (г/л)</td>
                        {% if b.problem_HGB %}
                            <td class="text-danger">{{b.HGB}}</td>
                        {% else %}
                            <td>{{b.HGB}}</td>
                        {% endif %}
                      </tr>

                    <tr>
                        <td>Гематокрит (в % соотношении)</td>
                        {% if b.problem_HCT %}
                            <td class="text-danger">{{b.HCT}}</td>
                        {% else %}
                            <td>{{b.HCT}}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Цветной показатель</td>
                        {% if b.problem_CP %}
                            <td class="text-danger">{{b.CP}}</td>
                        {% else %}
                            <td>{{b.CP}}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Тромбоциты (× 10х9/л)</td>
                        {% if b.problem_PLT %}
                            <td class="text-danger">{{b.PLT}}</td>
                        {% else %}
                            <td>{{b.PLT}}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>СОЭ (мм/ч)</td>
                        {% if b.problem_ESR %}
                            <td class="text-danger">{{b.ESR}}</td>
                        {% else %}
                            <td>{{b.ESR}}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Средний объем тромбоцитов (фл или мкм3)</td>
                        {% if b.problem_MPV %}
                            <td class="text-danger">{{b.MPV}}</td>
                        {% else %}
                            <td>{{b.MPV}}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Лейкоциты (× 10х9/л)</td>
                        {% if b.problem_WBC %}
                            <td class="text-danger">{{b.WBC}}</td>
                        {% else %}
                            <td>{{b.WBC}}</td>
                        {% endif %}
                    </tr>

                    </tbody>
                </table>
                <p>
                    {% if b.problem %}
                        <span> Проблемные показатели анализа бывают в следующих случаях: </span>
                        <p>{{b.fast_check}}</p>
<!--                        {% for t in b.fast_check %}-->
<!--                            <p>{{t}}</p>-->
<!--                        {% endfor %}-->
                    {% else %}
                        <span>Результаты показателей общего анализа крови находятся в пределах нормы</span>
                    {% endif %}

                </p>
            <br>

            {% endfor %}

        </div>
        <div class="col-sm-4">
            <h4>Внести результаты обследования</h4>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='vertical'%}
                {% buttons submit='Добавить' %} {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}