{% extends './account.html' %}

{% load bootstrap4 %}

{% block title %} Артериальное давление {% endblock %}

{% block content %}
    <div class="display-4 pb-5">Артериальное давление</div>
    <div class="row">
        <div class="col-sm-12">
            <h3> {{pr.date}} </h3>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Дата обследования</th>
                    <th>Верхнее давление</th>
                    <th>Нижнее давление</th>
                    <th>Быстрый диагноз</th>
                  </tr>
                </thead>
                <tbody>
                {% for pr in pressure %}
                  <tr>
                    <td>{{pr.date}}</td>
                    <td>{{pr.top_pressure}}</td>
                    <td>{{pr.bottom_pressure}}</td>
                    <td>{{pr.fast_check}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4 ml-auto mt-2 pt-2 mr-auto " >
            <h4>Внести результаты обследования</h4>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='vertical'%}
                {% buttons submit='Добавить' %} {% endbuttons %}
            </form>
        </div>
        <div class="col-sm-8"></div>
        </div>


{% endblock %}