{% extends './base.html' %}

{% load bootstrap4 %}

{% block title %} Артериальное давление {% endblock %}

{% block content %}
    <h1>Артериальное давление</h1>
    <p> {{person}} </p>
    <p> {{person_data.values}} </p>
    <p> {{age}} </p>
    {% for pr in pressure %}
        <p> Имя: <b>{{ pr.name }}</b>,
            пол: {{pr.sex}},
            возраст: {{pr.age}}
            верхнее давление: {{pr.top_pressure}}
            нижнее давление: {{pr.bottom_pressure}}
            оценка: {{pr.problem}}
            быстрый диагноз: {{pr.fast_check}}
        </p>
    {% endfor %}

    <div class="container-fluid">
             <div class="row">
                <div class="col-sm-12 ml-auto mt-2 pt-2 mr-auto " >
                  <h3>Артериальное давление</h3>
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form layout='vertical'%}
                        {% buttons submit='Добавить' %} {% endbuttons %}
                    </form>
                </div>
             </div>
        </div>

{% endblock %}