{% extends './main_reg.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Логин {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h1 class="display-3">Док online</h1>
    </div>
    <div class="col-sm-12 ml-auto m-1 mr-auto " style="background-image: url('{% static 'account/ono.png' %}');
                height: 350px;
                background-position: center;
                background-repeat: no-repeat;
                ">
    </div>
</div>
<div class="row">
    <div class="col-sm-3 ml-auto mt-2 pt-2 mr-auto " >
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='vertical'%}
            <input type="hidden" name="next" value="{{ next }}" />
            {% buttons submit='Войти в личный кабинет' %} {% endbuttons %}
        </form>
    </div>
</div>


{% endblock %}